
<% if @name %>
<h1>My name is <%= @name %> </h1> <% end %>

<img style="border:2px dotted; color:red"src= "http://bit.ly/1eze8aE">



<form action= "/named-cat">
<input type="text" name="name" placeholder="enter name">
<input type="submit" value="Submit">
</form>
